<p id="notice"><%= notice %></p>

<h1>Severities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @severities.each do |severity| %>
      <tr>
        <td><%= severity.name %></td>
        <td><%= severity.description %></td>
        <td><%= link_to 'Show', severity %></td>
        <td><%= link_to 'Edit', edit_severity_path(severity) %></td>
        <td><%= link_to 'Destroy', severity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Severity', new_severity_path %>
